@use "../abstract/variables" as v;
@use "../abstract/mixins" as m;

.datepicker {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
    overflow-y: auto;
    background-color: rgba(0, 0, 0, 0.2);

    @include m.tablet {
        background-color: transparent;
    }

    &.in {
        animation: fadeIn 0.3s ease;

        .content {
            animation: slideIn 0.3s ease;
        }
    }

    &.out {
        animation: fadeOut 0.3s ease;

        .content {
            animation: slideOut 0.3s ease;
        }
    }

    .content {
        display: flex;
        flex-direction: column;
        gap: 10px;
        overflow: hidden;
        user-select: none;
        width: 100%;
        max-width: 356px;
        max-height: 398px;
        padding: 10px 10px;
        background-color: v.$white;
        border-radius: 8px;
        box-shadow: v.$shadow-md;

        @include m.tablet {
            position: absolute;
        }
    }

    .header {
        display: flex;
        justify-content: space-between;

        .date {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 16px;
            color: v.$gray-600;
            font-size: 18px;
            font-weight: 300;
            border-radius: 48px;

            &::first-letter {
                text-transform: capitalize;
            }

            &:hover {
                background-color: v.$slate-100;
            }

            &:active {
                background-color: v.$slate-200;
            }
        }
    }

    .weekdays {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        height: 42px;
        border-bottom: 1px solid v.$gray-200;

        .weekday {
            display: flex;
            justify-content: center;
            align-items: center;
            color: v.$gray-600;
            font-size: 16px;
        }
    }

    .slide {
        display: flex;
        overflow: hidden;
        height: 100%;

        &.left {
            direction: rtl;
        }

        .days {
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            grid-template-rows: repeat(6, 1fr);
            direction: ltr;
            min-width: 100%;

            &.slide-left {
                direction: ltr;
                animation: slideLeft 0.2s ease;
            }

            &.slide-right {
                animation: slideRight 0.2s ease;
            }

            .day {
                display: flex;
                width: 100%;
                height: 100%;

                &::after {
                    content: "";
                    display: block;
                    padding-bottom: 100%;
                }
            }

            button {
                display: flex;
                width: 100%;
                height: 100%;
                padding: 2px;

                &.current .number {
                    color: v.$gray-900;
                }

                &:hover.current .number {
                    background-color: v.$indigo-100;
                }

                &:active.current .number {
                    background-color: v.$indigo-200;
                }

                &.today .number {
                    border: 1px solid v.$indigo-300;
                }

                &.today.selected .number {
                    background-color: v.$indigo-100;
                }

                &.prev .number,
                &.next .number {
                    color: v.$gray-400;
                }

                &:hover.prev .number,
                &:hover.next .number {
                    background-color: v.$indigo-50;
                }

                &:active.prev .number,
                &:active.next .number {
                    background-color: v.$indigo-100;
                }

                &.selected:not(.today) .number {
                    background-color: v.$indigo-700;
                    color: v.$white;
                }

                &:hover.selected:not(.today) .number {
                    background-color: v.$indigo-600;
                }

                &:active.selected:not(.today) .number {
                    background-color: v.$indigo-700;
                }
            }

            .number {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;
                font-size: 16px;
                border-radius: 50%;
                font-weight: 300;
            }
        }
    }

    .yearpicker {
        display: flex;
        flex-direction: column;
        gap: 10px;
        max-height: 100%;
        overflow: hidden;

        .header {
            display: flex;
        }

        .body {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            overflow-y: auto;
            height: 100%;

            &::-webkit-scrollbar {
                width: 16px;
            }

            &::-webkit-scrollbar-thumb {
                border-radius: 8px;
                border: 4px solid transparent;
                background-clip: content-box;
                background-color: v.$slate-300;
            }

            &::-webkit-scrollbar-thumb:hover {
                background-color: v.$slate-400;
            }
        }

        .year {
            display: flex;
            padding: 2px;

            button {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 48px;
                color: v.$gray-600;
                font-weight: 300;
                border-radius: 48px;

                &:hover {
                    background-color: v.$slate-100;
                }

                &:active {
                    background-color: v.$slate-200;
                }

                &.selected:not(.today) {
                    background-color: v.$indigo-700;
                    color: v.$white;
                }

                &.today {
                    border: 1px solid v.$indigo-300;
                }

                &.today.selected {
                    background-color: v.$indigo-100;
                }
            }
        }
    }

    @keyframes slideLeft {
        to {
            transform: translateX(-100%);
        }
    }

    @keyframes slideRight {
        to {
            transform: translateX(100%);
        }
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    @keyframes fadeOut {
        from {
            opacity: 1;
        }

        to {
            opacity: 0;
        }
    }

    @keyframes slideIn {
        from {
            transform: translateY(-10px);
        }

        to {
            transform: translateY(0px);
        }
    }

    @keyframes slideOut {
        from {
            transform: translateY(0px);
        }

        to {
            transform: translateY(-10px);
        }
    }
}
